<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="vendor/autoload.php"
	colors="true"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"

	backupGlobals="false"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutOutputDuringTests="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	forceCoversAnnotation="true"
	failOnWarning="true"
	stopOnFailure="false"
	verbose="false">
	<php>
		<ini name="memory_limit" value="512M" />
	</php>
	<testsuites>
		<testsuite name="Unit">
			<directory suffix="Test.php">./tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
